<footer class="bg-primary text-white text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">UNIVERSITY INFO.</h5>

        <p>Address: Kithaganur Main Rd, Battarahalli, Bengaluru, Karnataka 560049
          Areas served: India and nearby areas
          Hours: 
          Closed ⋅ Opens 9:30AM Sun
          Education and Facility: gardencity.university
          Appointments: gardencity.university
           
          Director 
          Phone: 090199 21992
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">COURSES</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-white">ENGINEERING</a>
          </li>
          <li>
            <a href="#!" class="text-white">MBA</a>
          </li>
          <li>
            <a href="#!" class="text-white">LLB</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">FACILITIES</h5>

      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

 
  <div class="text-center p-3" style="background-color: rgba(22, 154, 28, 0.821);">
    
    <a class="text-white" href="https://mdbootstrap.com/">Mern Project</a>
  </div>
 
</footer>   