<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/favicon.ico">
  <title>ADMISSION</title>
  <link rel="stylesheet" href="css/a.css">
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
  


<header>
 <!-- <nav class="navbar navbar-expand-md navbar-light bg-blue">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01" aria-expanded="false" 32 aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="#">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">COURSES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CONTACT</a>
          </li>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <div class="dash-left">
              <a href="/login" class="nav-link">LOGIN</a>
            </li>
        </ul>
        </ul>
      </div>
    </div>
  </nav> -->
</header>
<section style=" background-image: url(/assets/image/home.jpeg);height: 600px; width: 100%;">

  <div class="p-5 text-center">
<div class="mask" style="height: 95px; margin-top: 118px;">
<div class="d-flex justify-content-center align-items-center" style="height: 43%;">
 <div 
 class="text-white">
   <b><h1 class="mb-4" style="color: rgb(249, 72, 8);font-weight: 600;background: yellow;">UNIVERSITY ADMISSION 2022📖</h1></b>
   <h4>❤️🕊️❤️🕊️❤️🕊️❤️🕊️❤️🕊️❤️🕊️❤️🕊️❤️</h4>
  
 </div>
</div>
</div>
</div> 
</section>
 
  
 